In [32]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
from sklearn.datasets import load_boston
boston = load_boston()
bos = pd.DataFrame(boston.data,columns = boston.feature_names)

In [33]:
bos.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [34]:
bos['PRICE'] = boston.target

In [35]:
bos.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9

In [36]:
X = bos.drop('PRICE',axis = 1)

In [37]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [38]:
Y = boston.target

In [39]:
Y

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [40]:
bos.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.8,random_state = 1)

In [47]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
190,0.09068,45.0,3.44,0.0,0.437,6.951,21.5,6.4798,5.0,398.0,15.2,377.68,5.10
74,0.07896,0.0,12.83,0.0,0.437,6.273,6.0,4.2515,5.0,398.0,18.7,394.92,6.78
348,0.01501,80.0,2.01,0.0,0.435,6.635,29.7,8.3440,4.0,280.0,17.0,390.94,5.99
243,0.12757,30.0,4.93,0.0,0.428,6.393,7.8,7.0355,6.0,300.0,16.6,374.71,5.19
489,0.18337,0.0,27.74,0.0,0.609,5.414,98.3,1.7554,4.0,711.0,20.1,344.05,23.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,0.03548,80.0,3.64,0.0,0.392,5.876,19.1,9.2203,1.0,315.0,16.4,395.18,9.25
72,0.09164,0.0,10.81,0.0,0.413,6.065,7.8,5.2873,4.0,305.0,19.2,390.91,5.52
396,5.87205,0.0,18.10,0.0,0.693,6.405,96.0,1.6768,24.0,666.0,20.2,396.90,19.37
235,0.33045,0.0,6.20,0.0,0.507,6.086,61.5,3.6519,8.0,307.0,17.4,376.75,10.88
37,0.08014,0.0,5.96,0.0,0.499,5.850,41.5,3.9342,5.0,279.0,19.2,396.90,8.77

In [48]:
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
307,0.04932,33.0,2.18,0.0,0.472,6.849,70.3,3.1827,7.0,222.0,18.4,396.90,7.53
343,0.02543,55.0,3.78,0.0,0.484,6.696,56.4,5.7321,5.0,370.0,17.6,396.90,7.18
47,0.22927,0.0,6.91,0.0,0.448,6.030,85.5,5.6894,3.0,233.0,17.9,392.74,18.80
67,0.05789,12.5,6.07,0.0,0.409,5.878,21.4,6.4980,4.0,345.0,18.9,396.21,8.10
362,3.67822,0.0,18.10,0.0,0.770,5.362,96.2,2.1036,24.0,666.0,20.2,380.79,10.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,0.18159,0.0,7.38,0.0,0.493,6.376,54.3,4.5404,5.0,287.0,19.6,396.90,6.87
183,0.10008,0.0,2.46,0.0,0.488,6.563,95.6,2.8470,3.0,193.0,17.8,396.90,5.68
151,1.49632,0.0,19.58,0.0,0.871,5.404,100.0,1.5916,5.0,403.0,14.7,341.60,13.28
458,7.75223,0.0,18.10,0.0,0.713,6.301,83.7,2.7831,24.0,666.0,20.2,272.21,16.23
302,0.09266,34.0,6.09,0.0,0.433,6.495,18.4,5.4917,7.0,329.0,16.1,383.61,8.67

In [52]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(x_train,y_train)

LinearRegression()

In [53]:
x_predicted = lin_reg.predict(x_test)

In [54]:
x_predicted

array([32.61671097, 28.2257619 , 19.21955946, 20.96512334, 18.85132682,
       21.37546348, 31.68364811, 18.67728079, 25.58909921, 26.96877486,
       28.12491477, 28.20765544, 21.0760252 , 26.81322976, 24.31319269,
       21.24563209, 16.95999525, 39.47140291, 30.91184342,  8.67405358,
       21.48857761, 17.37500899, 26.35751451, 24.41131318, 31.25185699,
       10.66325117, 13.8829432 , 16.87844117, 37.57165774, 14.44782268,
       21.5119336 , 14.55100678, 43.6640348 , 17.86082021, 21.29103241,
       19.08349095, 17.4280586 , 27.4019874 ,  9.234856  , 20.35194613,
       23.26202756, 20.46867425, 30.47190016, 16.73458339, 19.82429024,
       13.71647805, 42.20995915, 18.10423361, 28.83443498, 20.68490109,
       25.15416131, 25.26629309, 25.38408499, 29.53879644,  5.68614592,
       24.88504397,  9.43207334, 26.82504957, 16.72791666, 36.81539708,
       19.77983833, 27.75218604, 16.46484559, 19.33950347,  8.66635266,
       32.208646  , 37.88421177, 22.2647923 , 26.1505433 , 27.79910959,
       22.71924146,  6.20089774, 16.44937925, 20.69045608, 20.54836256,
       21.3401721 , 34.57029656, 28.420764  , 26.7881463 , 34.16918119,
       19.78273407, 24.71741509, 34.88351685, 12.97551419, 20.60380932,
       30.41650149, 17.12705396, 23.17432076, 18.79330258, 18.07243339,
       27.76299178, 42.93982238, 15.97952093, 24.4028806 , 14.67099296,
       23.6567416 , 22.80841536, 30.29166592, 38.18346513, 19.38856496,
       17.14901819, 17.5401192 , 24.33669089, 21.48676066,  7.45120839,
       22.19369642, 15.99208145, 34.98760478, 24.44039772, 25.04266772,
       39.32320233, 29.77533515, 14.14334478, 35.22540506, 37.35470447,
       33.33970632, 20.11278036, 15.0482413 , 33.60219919, 40.44371474,
       20.58985715, 15.74314919, 26.6840685 , 18.55253198, 27.38631038,
       20.64630481, 26.68357554, 22.26371284, 23.9355683 , 27.99779282,
       20.02102188, 24.41252635, 29.78478078,  9.89294672, 27.93342577,
       31.92238238, 13.72244797, 13.40344799, 34.23545947, 13.51426184,
       16.45655203, 17.16804739, 17.05486899, 28.40212906, 33.4190973 ,
       20.24322134, 24.52811327, 17.77245556, 28.56212757, 22.71919553,
       34.92546722, 13.97248487, 19.1972362 , 20.07994306, 19.65596192,
       31.07038126, 16.41701139, 28.81212215, 22.69285898, 29.59440164,
       33.59997112, 35.10060352, 23.39350996, 18.34684762, 19.67652486,
       20.7255525 , 25.99953992, 15.19323068, 16.26732485, 25.74274963,
       22.53331148, 18.54648497, 14.80560385, 30.42097013, 18.54576606,
       23.34267086, 33.92289678, 27.59192763, 39.46013806, 21.0225008 ,
       22.97616086, 27.6188775 , 18.11619272, 34.35331482, 12.92199748,
       24.67397298, 21.6852459 , 33.85803996, 21.2842069 , 23.52894879,
       21.04711236, 16.0519687 , 22.08124826, 24.9550908 , 22.58486361,
       18.30309637, 36.34589925, 20.84835474, 34.53960168, 25.75900913,
       18.57619619,  3.15134125, 24.60956537, 18.28628001, 15.22482753,
       29.71273752, 31.22651416, 22.66172954, 20.61047944, 22.90176779,
       26.96548001, 19.92578633, 31.0290531 , 19.55288498, 19.0799543 ,
       23.47680399, 18.14110649, 14.52089098, 27.04951364, 25.58432198,
       22.15694304, 21.72038631, 20.88291021, 18.1170226 , 19.05318278,
       30.97678281, 30.5478923 , 16.62990827, 18.75101055, 33.66266989,
       17.01643957, 14.17095253, 32.62854346, 24.94957009, 13.37233271,
       24.45143619, 20.09491092, 38.58474904, 44.15771256, 21.54061052,
       21.61272714,  3.85894539, 19.81522043, 42.8604927 , 26.02782308,
       35.09436136, 23.79821583, 18.26944428, 32.92705099, 14.8280985 ,
       20.77294734, 12.31289156, 34.24357418, 22.66837597, 13.22221194,
       21.63774045, 17.37198566, 17.85270836, 30.28365937, 32.18075657,
       20.45336081, 29.75959666,  7.18982288, 18.89723132, 30.10475681,
       20.57839242, 33.3974039 , 24.24358861, 14.26738546, 24.20106907,
       32.91401148, 17.80684621, 26.29527134, 22.10605813, 24.43018928,
       32.65649583, 26.2304317 , 23.11068013, 21.37121057, 21.59383797,
       11.26008499, 16.94212371, 22.85497267, 29.61466174, 23.09151181,
       12.26582213, 24.38136745, 13.14379108,  7.98377975, 31.77241579,
       12.00109812, 13.18440467, 31.33628903, 19.70216857, 28.20054128,
        0.60101149, 31.12712135, 24.19502058, 29.53687253,  9.68649156,
       10.11971136,  7.12036418, 20.70524276, 14.50594171, 23.88299493,
       22.20130119,  6.58848017, 18.23088525, 30.87930596, 14.74069658,
       22.10694463, 32.68525461, 29.82819265, 30.72089238, 19.16986842,
       29.39425529, 17.80744526, 21.82646237, 24.31193619, 30.23574889,
       20.25455558, 15.88697828, 23.44452457, 21.86141303, 14.83881915,
       32.36894068, 23.76741903, 21.66801612, 13.53616923, 16.77326467,
       16.68268242, 33.67449135, 30.06984231, 25.98382116, 15.58993356,
       17.51342189,  5.72952529, 12.49735596, 27.35548835, 35.55403582,
       26.03031409, 30.2652679 , 20.79109449, 13.36025789, 25.72460123,
        8.9366379 , 15.54265181, 25.21990601, 18.55971622, 32.15802211,
       36.40020073, 22.56136319, 22.7234512 , 34.37231992, -3.94468944,
       14.23851594, 20.31829917, 32.69907633, 21.14937346, 27.1818681 ,
       20.77005275, 26.33401396, 18.66135437, 29.2236251 , 32.13618142,
       13.65673552,  9.83952335, 37.20348635, 20.45829063, 18.82696886,
       22.46200016, 20.70769228, 24.98878401, 24.94873464, 22.63186389,
       27.95664184, 34.95321661, 29.57340438,  6.2979752 , 18.58409807,
       22.12319937, 21.82862584, 12.68613277, 11.81831775, 23.86158832,
       24.73085406, 30.67013986, 24.06240533, 34.82481321, 18.24315249,
       15.27193751, 11.26864556, 31.03156474, 27.71373401, 41.03106415,
       28.29517411, 19.41491991, 36.25536337, 21.12170882, 32.81354451,
       24.64850689, 31.94774974, 19.8091977 , 17.03760649, 28.82566707])

In [56]:
from sklearn.metrics import mean_absolute_error
mse = mean_absolute_error(y_test,x_predicted)

In [57]:
mse

3.4962308560549147